terraform {
  backend "s3" {
    endpoint   = "storage.yandexcloud.net"
    bucket     = "stalis-cloud-terraform-storage"
    region     = "us-east-1"
    key        = "{{ state_path }}.tfstate"
    access_key = "{{ access_key }}"
    secret_key = "{{ secret_key }}"

    skip_region_validation      = true
    skip_credentials_validation = true
  }
}
