terraform {
  required_providers {
    yandex = {
      source  = "yandex-cloud/yandex"
      version = "0.67.0"
    }
  }
}

provider "yandex" {
  service_account_key_file = "../../terraform-key.json"
  cloud_id                 = "{{ cloud_id }}"
  folder_id                = "{{ folder_id }}"
  zone                     = "{{ zone_name }}"
}
